# Inspiration from the following gitconfigs:
# https://gist.github.com/tdd/470582
[http]
	cookiefile = ~/.gitcookies
[user]
	name = Farid Zakaria
	email = fmzakari@google.com
[color]
	# Enable colors in color-supporting terminals
	ui = auto
[core]
	pager = "diff-so-fancy | less --tabs=4 -RFX"
	# Global ignore file (not shared)
	excludesfile = ~/.gitignore_global
	editor = vim
	# Don't consider trailing space change as a cause for merge conflicts
	whitespace = -trailing-space
[alias]
	# List available aliases
	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	# get a diff not fancy!
	patch = !git --no-pager diff --no-color
	# Command shortcuts
    co = checkout
    st = status
    ci = commit
    br = branch
    # Display tree-like log, because default log is a pain…
    lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
    # Useful when you have to update your last commit
 	# with staged files without editing the commit message.
 	oops = commit --amend --no-edit
    # Edit last commit message
    reword = commit --amend
    # Undo last commit but keep changed files in stage
    uncommit = reset --soft HEAD~1
	# Remove file(s) from Git but not from disk
	untrack = rm --cache --
[pull]
	# This is GREAT… when you know what you're doing and are careful
	# not to pull --no-rebase over a local line containing a true merge.
	# rebase = true
	# This option, which does away with the one gotcha of
	# auto-rebasing on pulls, is only available from 1.8.5 onwards.
	# rebase = preserve
	# WARNING! This option, which is the latest variation, is only
	# available from 2.18 onwards.
	rebase = merges
[status]
 	# Display submodule rev change summaries in status
 	submoduleSummary = true
 	# Recursively traverse untracked directories to display all contents
 	showUntrackedFiles = all
[diff]
	tool = bc3
[difftool "bc3"]
	trustExitCode = true
[difftool]
	prompt = false
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
